# Dependencies
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Environment variables
.env
Backend/.env
Frontend/.env

# Frontend build
Frontend/dist/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db